@import '~@/background.scss';

page {
  height: 100%;
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.span {
  animation-name: spanner;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
}

@keyframes spanner {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.height100 {
  height: 100%;
}

.page-apply-list {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 90px 20px;
}

.page-post-apply-list {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0 20px;
}

.ml-10 {
  margin-left: 10px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.none {
  width: 100%;
  min-height: 100px;
  line-height: 100px;
  font-size: 24px;
  text-align: center;
  color: #666;
}
.agree-btn {
  background: #007ACC;
  color: #FFFFFF;
}
.refuse-btn {
  background: #E64949;
  color: #FFFFFF;
}
.handled {
  margin: 20px 0;
  text-align: end;
}
.head-info {
  margin-bottom: 30px;
}
.fixedTab {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 90rpx;
  background: #FFFFFF;
}
.post-btn {
  width: 95%;
  margin: 20px auto;
  background: #007ACC;
  color: #FFFFFF;
  border-radius: 10px;
}
