.utype-picker {
  height: 50px;
  display: flex;
  justify-content: center;
  margin: 30px auto;
  color: #333333;
  font-size: 32px;
}
.vcode-text {
  margin: 30px auto;
  color: #808080;
  font-size: 32px;
  text-align: center;
}