@import '~@/background.scss';

page {
  height: 100%;
}
.index {
  color: black;
  font-size: 36px;
  height: 100%;
  overflow: hidden;
  .background {
    color: #FFFFFF;
    &-blue {
      background-color: #2196F3;
    }
    &-yellow {
      background-color: #FDD835;
    }
    &-green {
      background-color: #4CAF50;
    }
    &-red {
      background-color: #F44336;
    }
  }
  .main {
    .fab {
      position: fixed;
      right: 16px;
      bottom: 20px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      &-inner {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        &-btn-text {
          font-size: 20px;
        }
        &-btn-in,
        &-btn-out {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
        &-btn-out {
          background-color: rgb(243, 64, 40);
        }
        .at-icon-open {
          transform: rotate(0deg);
          transition: all 300ms ease-in;
        }
        .at-icon-hide {
          transform: rotate(-90deg);
          transition: all 300ms ease-out;
        }
        .sign-menu {
          width: 100%;
          &-inner {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            .at-button {
              margin: 30px 0;
            }
          }
          &-hide {
            opacity: 0;
            transition: all 300ms ease-out;
          }
          &-open {
            opacity: 1;
            transition: all 300ms ease-in;
          }
        }
      }
    }
    .at-card__content {
      padding: 0;
    }
    .sign-main {
      width: 100%;
      margin: 20px auto;
      padding: 24px;
      box-sizing: border-box;
      .card {
        width: 96%;
        margin: 0 auto;
      }
      .footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-top: 1px solid rgb(214,228,239);
        padding: 24px;
        box-sizing: border-box;
      }
    }
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-bottom: 25%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .none {
    width: 100%;
    min-height: 100px;
    line-height: 100px;
    font-size: 24px;
    text-align: center;
    color: #666;
  }
  .none-more {
    width: 100%;
    min-height: 30px;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    color: #666;
  }
  .at-card__content-note {
    margin-top: 0;
  }
  .list {
    .list-content {
      max-height: 40vh;
      overflow: auto;
    }
    .loadmore {
      height: auto;
      .at-button {
        height: 50px;
        line-height: 50px;
        border: none;
        font-size: 20px;
      }
    }
    .row-sapce {
      padding: 10px 0;
    }
    .at-col {
      font-size: 20px;
      text-align: center;
    }
    .at-col.list-title {
      font-size: 24px;
    }
  }
}
