@import '~@/background.scss';

page {
  height: 100%;
}
.page-resume {
  width: 100%;
  min-height: 100%;
  padding-top: 30px;
  padding-bottom: 20%;
  box-sizing: border-box;
  .head-top {
    width: 100%;
    height: 600px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(238,238,238,0.55);
    .photo {
      width: 295px;
      height: 413px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      border: 2px solid #ffffff;
      margin: 10px;
    }
    .right-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      &-item {
        font-size: 20px;
        margin: 5px;
        &-tips {
          color: #1890ff;
        }
      }
    }
  }
  .info-bottom {
    width: 100%;
    margin-bottom: 20px;
    background-color: rgba(238,238,238,0.55);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    .flex-column {
      display: flex;
      flex-direction: column;
      .other-title {
        color: #1890ff;
        margin: 10px 0 5px 0;
      }
      .other-content {
        margin: 5px 0 10px 0;
        padding-left: 15px;
      }
    }
  }
  .save-btn {
    width: 95%;
    margin: 20px auto;
    background: transparent;
    color: #007acc;;
    border: 1px solid #007acc;
    border-radius: 10px;
  }
}

.resume-mr-10 {
  margin-right: 10px;
}
