@import '~@/background.scss';

page {
  height: 100%;
}
.page-resume {
  width: 100%;
  min-height: 100%;
  padding-bottom: 20%;
  box-sizing: border-box;
  .head-top {
    width: 100%;
    height: 600px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #999999;
    .photo {
      width: 295px;
      height: 413px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      border: 2px solid #ffffff;
    }
  }
  .info-bottom {
    width: 100%;
    margin-bottom: 20px;
    .at-list__item-content {
      flex: none;
      margin-right: 17vw;
      margin-left: 1vw;
    }
    .item-extra__info {
      color: #000000;
    }
  }
  .save-btn {
    width: 95%;
    margin: 20px auto;
    background: transparent;
    color: #007acc;;
    border: 1px solid #007acc;
    border-radius: 10px;
  }
}


