@import '~@/background.scss';
@import "~@/config.scss";

page {
  height: 100%;
}
.index {
  color: black;
  font-size: 36px;
  height: 100%;
  overflow: hidden;
  .main {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-bottom: 25%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    .curlocation,
    .curwifi {
      font-size: 20px;
      color: #FFFFFF;
      background-color: #333333;
      padding: 20px;
      width: 100%;
      box-sizing: border-box;
    }
    .btn {
      width: 90%;
      margin: 10px auto;
      background-color: #007ACC;
      color: #FFFFFF;
    }
    .loading {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.span {
  animation-name: spanner;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
}

@keyframes spanner {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.page-duty {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  .row {
    width: 100%;
    display: flex;
    margin: 10px 0;
    align-items: center;
    .input {
      border-bottom: 1px solid #aaa;
      &-inner {
        margin: 0 5px;
        &-text {
          font-size: 24px;
        }
      }
    }
    .col {
      &-1 {
        flex: 1;
      }
      &-2 {
        flex: 2;
      }
      &-3 {
        flex: 3;
      }
      &-4 {
        flex: 4;
      }
      &-5 {
        flex: 5;
      }
    }
  }
}

.ml-10 {
  margin-left: 10px;
}

.line {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  &-left {
    display: flex;
    align-items: center;
    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 20px;
      color: #666666;
      font-size: 24px;
      .stuid {
        font-size: 18px;
        color: #999999;
      }
    }
  }
  &-right {
    display: flex;
    align-items: center;
    .utype {
      margin-right: 10px;
      color: #999999;
    }
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.mb-20 {
  margin-bottom: 20px;
}

slider {
  margin-left: 0;
  margin-right: 0;
}

.user {
  &-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    &-row {
      display: flex;
      align-items: center;
      justify-content: space-around;
      &-item {
        margin: 5px;
        padding: 20px;
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #eee;
      }
    }
  }
}

.search-bar {
  margin: 30px auto;
}

.search-bar-query-duty {
  background: $background-image-gradualBlue;
}

.none {
  width: 100%;
  min-height: 100px;
  line-height: 100px;
  font-size: 24px;
  text-align: center;
  color: #666;
}

.logo {
  width: 50%;
  height: 150px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 200px auto 20px auto;
}

.at-modal__container {
  width: 90%;
}

.auto-query {
  color: black;
  font-size: 36px;
  height: 100%;
  overflow: hidden;
  .main {
    .head-info {
      margin-bottom: 30px;
    }
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-bottom: 25%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.common-list {
  font-size: 18px;
  overflow: hidden;
}

$cell-height: 150px;

.cell {
  width: 100%;
  height: $cell-height;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  border: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}

.duty-row-1 {
  width: 100%;
  height: $cell-height;
  line-height: $cell-height;
  color: #007ACC;
  text-align: center;
  border: 1px solid #eee;
}

.cell-col-1,
.duty-col-1 {
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: #0d1988;
  text-align: center;
  border: 1px solid #eee;
}

.duty-col {
  display: flex;
  flex-direction:column;
  width: 17%;
}

.page-duty-down {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 20px 0;
}

.down-btn-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.down-btn {
  width: 95%;
  margin: 20px auto;
  background: #007ACC;
  color: #FFFFFF;
  border-radius: 10px;
}

.down-btn-text {
  color: #007ACC;
  text-align: center;
  font-size: 18px;
  width: 80%;
  word-break: break-all;
}
