.content {
  width: 100%;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .menu-item {
    padding: 16px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .menu-item-content {
      display: flex;
      align-items: center;
      .menu-item-name {
        color: #1e1e1e;
        font-size: 24px;
      }
    }
  }
  .menu-item-hover {
    background-color: #0000003a;
  }
}


